
/*Default CSS*/
*,
*::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    text-align: center;
    background-color: rgb(140, 3, 3);
}

h2{
    color: aliceblue;
    margin-top: 10rem;
    margin-bottom: -10rem;
    margin-left: 2rem;

}

/*Styling The Div-Container*/
.wrapper{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width:20%;
    height: 20rem;
    margin: 10rem;
    margin-left: 38rem;
    box-shadow: .5vw .4vw .3vw #FFC100;
    border-radius: 20px;

}



/*Styling Input*/
.cust-input{
 text-align: center;
 height: 40px;
 background-color:#FFC100;
 border-radius: 10px;
 margin: 10px;
}


/*Styling Button*/
.cust-btn{
 display: flex;
 justify-content: space-around;
 margin-top: 20px;
 width: 300px;
 height: 30px;


}

button{
height: 40px;
width: 100px;
    background-color:#FFC100;
    color: aliceblue;
    border-radius: 10px;
    transition: all .5s;

    &:hover {
        transform: scale(1.2);
      
      }

}

/*Styling Anchor*/
a{
    text-decoration: none;
    color: aliceblue;
    
}